name: docker release

on:
  workflow_dispatch:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: get the tag name
        id: get_tag
        run: echo ::set-output name=TAG::$(echo $GITHUB_REF | cut -d / -f 3)

      - name: checkout code
        uses: actions/checkout@v2

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GH_USERNAME }}
          password: ${{ secrets.GH_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          push: true
          tags: |
            ghcr.io/${{ secrets.GH_USERNAME }}/jellyfin_alexa_skill:latest
            ghcr.io/${{ secrets.GH_USERNAME }}/jellyfin_alexa_skill:${{ steps.get_tag.outputs.TAG }}
          platforms: linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64/v8
          cache-from: type=registry,ref=ghcr.io/${{ secrets.GH_USERNAME }}/jellyfin_alexa_skill:release-buildcache
          cache-to: type=registry,ref=ghcr.io/${{ secrets.GH_USERNAME }}/jellyfin_alexa_skill:release-buildcache,mode=max
